.forget-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top:10px;
}

.forget-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ff0000;
  cursor: pointer;
}

.no-account-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.no-account-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-right: 15px;
}
